/* General
==================================== */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #eaedf1;
}

body, input, textarea {
    font: 1em/1.5 Arial, Helvetica, sans-serif;
}

.main-container {
    max-width: 25em;
    margin: 2em auto;
    width: 95%;

}

.header-flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-start;
}

.flex-item {
    width: 200px;
    height: 70px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100px;
}

.title {
    font-size: 1.5em;
    padding: .5em 0;
    text-align: center;
    background: #323a45;
    color: white;
    border-radius: 5px 5px 0 0;
}
/* Form
==================================== */
.form-field {
    background: white;
    margin-bottom: 1em;
}

.form-field div {
    xxxborder: 1px solid #ccc;
    border-bottom: 0;
    margin-bottom: 0px;
    position: relative;
}
.form-field div:first-child {
    border-top: 0;
}

.form-field div:last-child {
    border-bottom: 1px solid #ccc;
}
label, input, textarea {
    display: block;
    border: 0;
}

input, textarea {
    width: 100%;
    height: 100%;
    padding: 2.25em 1em 1em;
    outline: 0;
}
label {
    font-size: .8125em; /* 13/16 */
    position: absolute;
    top: 1.23em;
    left: 1.23em;
    color: #f1773b;
    opacity: 1;
}

.btn-submit {
    background: #0080FF;
    margin-bottom: 0.5em;
    color: white;
    border-radius: 3px;
    padding: .75em;
    -webkit-appearance: none; /* remove default browser <button> styling */
    -webkit-transition: .333s ease -webkit-transform;
    transition: .333s ease transform;
    width: 100%;
}

.btn-submit:hover {
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
    cursor: pointer;
}
.btn-submit:active {
    -webkit-transform: scale(.975);
    transform: scale(.975);
}

.js-hide-label label {
    opacity: 0;
    top: 1.5em
}
.text-field {
  padding-bottom: 12px;
  position: relative;
}

.text-field label {
  cursor: text;
  position: absolute; top: 7px; left: 12px;
  transition: all 250ms ease;
}

.text-field .form-control:focus + label {
  top: -16px;
}

.text-field label.is-floating {
  top: -5px;
}
